@model BoilerPlateExample.Models.Employee

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<form action="" method="post">

    <label>Insert Id</label> &nbsp; <input type="text" name="Id" placeholder="Id" />
    <br/>
    <input type="submit" value="Delete Employee" />

</form>