@using BoilerPlateExample.Models
@model BoilerPlateExample.Dto.Employee.EmployeeListDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

@foreach (var employee in Model.Employees)
{

    <div>
    @employee.FirstName @employee.LastName @employee.Description
    <br/>
    @Html.ActionLink("Update", "UpdateEmployee", new { id = employee.Id })
    </div>
}
