@model BoilerPlateExample.Dto.OfficeDto

@{
    ViewBag.Title = "Create";
    Layout = "_Layout";
}

<h2>CreateOffice</h2>

<form action="" method="post">
    
    <label>Description</label>
    <input type="text" name="Description" placeholder="Office Description"/>
    
    <input type="submit" value="Create Office" />

</form>
