@model BoilerPlateExample.Dto.OfficeDto

@{
    ViewBag.Title = "Create new office";
}

<h3>@ViewBag.Title</h3>

<form action="" method="post">
    
    @Html.LabelFor(x => x.Description, "Description:")
    @Html.EditorFor(x => x.Description)

    <input type="submit" value="Create Office" />

</form>
