@model BoilerPlateExample.Models.Office

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<form action="" method="post">

    <label>Insert Id</label>
    <input type="text" name="Id" placeholder="Id" />
    <input type="submit" value="Delete Office" />

</form>