@using BoilerPlateExample.Models
@model BoilerPlateExample.Dto.OfficeDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}




<form action="" method="get">

    <label>Insert Id</label>
    <input type="text" name="Id" placeholder="Id" />
    <input type="submit" value="Get Office" />

</form>