@model BoilerPlateExample.Dto.OfficeDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<form action="" method="post">

    <label>Id:</label>
    &nbsp;
    <input type="text" name="Id" placeholder="Id" />
    &nbsp;
    <br />
    <label>Name:</label>
    &nbsp;
    <input type="text" name="Description" placeholder="Description" />
    <br/>
    <input type="submit" value="Update Office" />

</form>